#info{
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 260px;
}
#soortMelding{
    margin-top: 50px;
}
body{
    background-image: url("https://cutewallpaper.org/21/wallpaper-1440x900/Download-1440x900-Firewatch,-Deer,-Forest,-Night-Wallpapers-.jpg");
}
#kaas{
    margin-top: 50px;
}