#info{
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 260px;
}
#soortMelding{
    margin-top: 50px;
}
body{
    background-image: url("https://a-static.besthdwallpaper.com/blauw-druppels-in-blad-behang-1600x900-10344_47.jpg");
}
#kaas{
    margin-top: 50px;
}